<main>
  <div class="container">
    <div class="row home-wrapper">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="home-content">
          <ng-container *ngIf="isLoggedIn">
            <div class="add-article-box" (click)="open()">
              <img [src]="imgUrl" alt="avatar">
              <div class="description">
                <p>Hey Nam, Please share posts with everyone!!!</p>
              </div>
            </div>
          </ng-container>

          <ul class="control">
            <ng-container *ngIf="isLoggedIn">
              <li [ngClass]="tabActive==1 ? 'active':''" (click)="onChangeGlobal(1)">Your article</li>
            </ng-container>
            <li [ngClass]="tabActive==2 ? 'active':''" (click)="onChangeGlobal(2)">Global article</li>
            <li [ngClass]="tabActive==3 ? 'active':''">{{tagSelect}}</li>
          </ul>
        </div>
        <app-list-article [articles]="articles"></app-list-article>

        <nav class="mt-4 d-flex flex-row-reverse" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="previousPagination()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" (click)="onPagination(0)">1</a></li>
            <li class="page-item"><a class="page-link" (click)="onPagination(5)">2</a></li>
            <li class="page-item"><a class="page-link" (click)="onPagination(10)">3</a></li>
            <li class="page-item">
              <a class="page-link" (click)="nextPagination()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-lg-4 order-1 order-lg-2 mb-3">
        <div class="has-tag">
          <h5 class="has-tag__title">Has tag </h5>
          <div class="has-tag__content">
            <p *ngFor="let tag of tags" (click)="onChangeTag(tag)" [ngClass]="tagSelect==tag ? 'active-tag':''"> {{tag}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>