@use "../../styles/color" as color;
section {

  .close {
    background-color: #e4e6eb;
    padding: 10px 15px;
    outline: none;
  }
  .modal-footer {
    button {
      outline: none;
      background-color: color.$primary-color;
    }
    button:hover {
      background-color: color.$primary-color-hover;
    }
  }
}

.markdown-convert{
  font-size: 16px;
  padding: 6px;

  h1{
    font-size: 16px;
  }

  h2{
    font-size: 14px;
  }
}
