<main>
  <section class="container container-fluid" *ngIf="currentUser">
    <div class="background-image">
        <img src="{{imgBackgroundUrl}}" alt="background" width="100%" height="100%">
    </div>

    <div class="avatar">
        <div class="text-center">
            <img src="{{currentUser.image}}" alt="avatar" *ngIf="currentUser.image != null" onError="this.src='https://static.productionready.io/images/smiley-cyrus.jpg'">
        </div>
        <h3 class="text-center py-2">{{currentUser.username}}</h3>
    </div>
    <p class="text-center">
        {{currentUser.bio}}
    </p>

    <ul class="control">
        <li class="active">My Articles</li>
        <li>Favorited Articles</li>
    </ul>
</section>
</main>
