<section class="container container-fluid" *ngIf="currentUser">
    <div class="background-image">
        <img src="{{imgBackgroundUrl}}" alt="background" width="100%" height="100%">
    </div>

    <div class="avatar">
        <div class="text-center">
            <img src="{{currentUser.profile.image}}" alt="avatar">
        </div>
        <h3 class="text-center py-2">{{currentUser.profile.username}}</h3>
    </div>
    <p class="text-center">
        {{currentUser.profile.bio}}
    </p>

    <ul class="control">
        <li class="active">My Articles</li>
        <li>Favorited Articles</li>
    </ul>
</section>