<section class="container">
    <div class="background-image">
        <img src="{{imgBackgroundUrl}}" alt="background" width="100%">
    </div>

    <div class="avatar">
        <div class="text-center">
            <img src="{{imgAvatarUrl}}" alt="avatar">
        </div>
        <h3 class="text-center py-2">{{username}}</h3>
    </div>
    <p class="text-center">
        This is bio
    </p>

    <ul class="control">
        <li class="active">My Articles</li>
        <li>Favorited Articles</li>
    </ul>
</section>