<h2 class="text-center">Edit Account</h2>

<form [formGroup]="profileForm" class="container px-lg-5 w-50">
  <label for="avatar-image">Avatar: </label>
    <input id="avatar-image" type="text" class="form-control" placeholder="Enter link avatar photo" formControlName="avatarUrl" value="{{user.avatarUrl}}" />

  <label for="username" class="d-flex justify-content-between">Username:</label>
    <input id="username" type="text" class="form-control" placeholder="Ex: abc123" formControlName="username" />
    <ul class="text-danger"
      *ngIf = "checkConditionInvalid('username',profileForm)">
        <li *ngIf= "checkRequired('username', profileForm)">Username is required</li>
      </ul>

  <label for="bio">Bio: </label>
    <textarea id="bio" cols="30" rows="2" class="form-control" placeholder="Ex: This is a beautiful website" formControlName="bio"></textarea>

  <label for="email" class="d-flex justify-content-between">Email:</label>
    <input id="email" type="text" class="form-control" placeholder="Ex: abc123@gmail.com" formControlName="email" />
    <ul class="text-danger"
      *ngIf = "checkConditionInvalid('email',profileForm)">
        <li *ngIf="checkRequired('email', profileForm)">Email is required</li>
        <li *ngIf="checkPattern('email', profileForm)"> {{profileForm.get('email')?.value}} is not a valid email</li>
      </ul>

  <label for="old-password">Confirm password: </label>
    <input id="old-password" type="password" class="form-control" placeholder="Confirm password" formControlName="oldPassword" />
    <ul class="text-danger"
        *ngIf = "checkConditionInvalid('password', profileForm)">
          <li *ngIf="checkRequired('password', profileForm)">Password is required</li>
      </ul>

  <div class="text-right py-3">
    <button class="btn btn-success mx-2" type="submit" *ngIf="profileForm.status" [disabled]="profileForm.invalid||!profileForm.dirty" (click)="handleFormSubmission()">Save</button>
    <button class="btn bg-danger text-white" type="reset" routerLink="/profile/1">Cancel</button>
  </div>
</form>
