<div class="p-3 mb-2 bg-dark text-white bg-opacity-75">
  <div class="container">
    <h1>{{articleDetail?.title}}</h1>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <img src="{{articleDetail?.author?.image}}" alt="avatar">
        <div class="d-flex flex-column">
          <span>{{articleDetail?.author?.username}}</span>
          <span class="text-muted">{{articleDetail?.createdAt | date}}</span>
        </div>
      </div>

      <div>
        <button class="btn btn-follow"><i class="fas fa-plus"></i> Follow {{articleDetail?.author?.username}}</button>
        <button class="btn btn-favorite"><i class="fas fa-heart"></i> Favorite Articles ({{articleDetail?.favoritesCount}})</button>
      </div>
    </div>
  </div>
</div>

<div class="article-description container py-3">
  {{articleDetail?.description}}
  <hr>
</div>

<div class="container comment-wrapper">
  <div class="">
    <div class="textarea-container">
      <textarea rows="3" class="p-3" placeholder="Write comments" #comment></textarea>
      <button class="btn btn-success" (click)="addComment(comment.value); comment.value=''">Post</button>
    </div>
  </div>

  <ng-container *ngIf="article.comments[0]!==''">
    <div class=" comments py-2 my-2 w-75 rounded border border-1" *ngFor="let comment of article.comments">
      <div class="comment__user d-flex">
        <img src="{{article.avatar}}" alt="avatar">
        <div class="d-flex flex-column">
          <span>{{article.username}}</span>
          <span class="text-muted">{{article.publishedDate}}</span>
        </div>
      </div>
      <p class="comment__content">{{comment}}</p>
    </div>
  </ng-container>
</div>
