@use '../../styles/color';

img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.btn-follow {
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
  margin-right: 10px;
}
.btn-follow:hover {
  color: white;
  background-color: color.$primary-color-hover;
  border: none;
}

.btn-favorite {
  border:1px solid color.$primary-color;
  color: color.$primary-color;
}
.btn-favorite:hover {
  background-color: color.$primary-color-hover;
  color: white;
}

.comment {
  background-color: gray;
}

textarea {
  resize: none;
  outline: none;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  bottom: 20px;
  right: 10px;
}