<div class="p-3 mb-2 bg-dark text-white bg-opacity-75">
  <div class="container">
    <h1>{{article.title}}</h1>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <img src="{{article.avatar}}" alt="avatar">
        <div class="d-flex flex-column">
          <span>{{article.username}}</span>
          <span class="text-muted">{{article.publishedDate}}</span>
        </div>
      </div>

      <div>
        <button class="btn btn-follow"><i class="fas fa-plus"></i> Follow {{article.username}}</button>
        <button class="btn btn-favorite"><i class="fas fa-heart"></i> Favorite Articles ({{article.like}})</button>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  {{article.body}}
  <hr>
</div>

<div class="container">
  <div class="textarea-container">
    <textarea rows="3" class="p-3" placeholder="Write comments" #comment></textarea>
    <button class="btn btn-success" (click)="addComment(comment.value); comment.value=''">Post</button>
  </div>
</div>

<div *ngIf="article.comments[0]!==''">
  <div class="container py-2 d-flex my-2 w-75 rounded border border-1" *ngFor="let comment of article.comments">
    <div class="d-flex">
      <img src="{{article.avatar}}" alt="avatar">
      <div class="d-flex flex-column">
        <span>{{article.username}}</span>
        <span class="text-muted">{{article.publishedDate}}</span>
      </div>
    </div>
    <p class="px-5">{{comment}}</p>
  </div>
</div>