@use '../../styles/color';

img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 12px;
}

.isLike{
  background-color: #17a2b8;
  color: white;
}

textarea {
  resize: none;
  outline: none;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.textarea-container button {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.comments{
  width: 100%;

  p{
    margin-bottom: 0;
  }
}
.comment__content{
  background-color: #f0f2f5;
  border-radius: 5px;
  width: 100%;
  padding: 6px 10px;

  .comment__user{
    .comment__user--text{
      width: 300px;
    }

    display: flex;
    justify-content:space-between;
    align-items:center;

    p:first-child{
      font-weight: bold;
      font-size:16px;
    }

    p:last-child{
      font-size: 12px;
    }
  }

  .comment__description{
    margin-top: 4px;
  }
}

.delete-comment{
  display: flex;
  justify-content: flex-end;
  width: 100%;

  i{
    color: red;
    font-size: 12px;
    padding: 4px;
    border-radius:3px;
    border: 1px solid red;
  }

  i:hover{
    color: white;
    background-color: red;
  }
}

.control-article{
  button {
    margin-left: 8px;
    font-size: 12px;
  }
}

.date-user{
  font-size: 14px;
}

.variable-binding,
.variable-textarea {
  width: 49%;
}

p.login-notice{
  width: 100%;
  text-align: center;
}
