<main>
  <div class="p-3 mb-2 bg-dark text-white bg-opacity-75">
    <div class="container">
      <h1>{{articleDetail?.title}}</h1>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <img src="{{articleDetail?.author?.image}}" alt="avatar">
          <div class="d-flex flex-column">
            <span>{{articleDetail?.author?.username}}</span>
            <span class="text-muted date-user">{{articleDetail?.createdAt | date}}</span>
          </div>
        </div>

        <ng-container *ngIf = "!isMyArticle; else isCurrentUser">
          <div  class="control-article">
            <button class="btn btn-follow"><i class="fas fa-plus"></i> Follow {{articleDetail?.author?.username}}</button>
            <button class="btn btn-outline-info"><i class="fas fa-heart"></i> Favorite Articles ({{articleDetail?.favoritesCount}})</button>
          </div>
        </ng-container>
        <ng-template #isCurrentUser>
          <div class="control-article">
            <button
              type="button"
              class="btn btn-outline-danger"
              mwlConfirmationPopover
              [popoverTitle]="'Alert'"
              [popoverMessage]="'Are you sure to delete this article?'"
              placement="bottom"
              (confirm)="onDeleteArticle(articleDetail.slug)"
              (cancel)="true">
            <i class="fas fa-trash"></i> Delete article</button>
            <button
              type="button"
              class="btn btn-outline-info"
              (click)="openArticleModal(articleDetail.slug)"
            ><i class="fas fa-edit"></i> Edit article</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="article-body container py-3">
      <markdown
        [data]="articleDetail?.body"
      ></markdown>
  <hr>
  </div>

  <div class="container comment-wrapper" *ngIf="getIsLogin()">
    <div class="">
      <div class="textarea-container">
        <textarea rows="3" class="p-3" placeholder="Write comments" #comment></textarea>
        <button class="btn btn-success" (click)="addComment(comment.value); comment.value=''">Post</button>
      </div>
    </div>

    <ng-container *ngIf="comments.length > 0">
      <div class="comments d-flex py-2 my-2" *ngFor="let comment of comments">
        <img src="{{comment?.author?.image}}" alt="avatar">
        <div class="comment__content">
          <div class="comment__user">
            <div>
              <p>{{comment?.author?.username}}</p>
              <p class="text-muted">{{comment.createdAt | date}}</p>
            </div>
            <div
              class="delete-comment"
            ><i class="fas fa-trash"
            mwlConfirmationPopover
              [popoverTitle]="'Alert'"
              [popoverMessage]="'Are you sure to delete this comment?'"
              placement="left"
              (confirm)="onDeleteComment(comment.id)"
              (cancel)="true"></i></div>
          </div>
          <p class="comment__description">{{comment.body}}</p>

        </div>

      </div>
    </ng-container>
  </div>

</main>
