footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(#485563, #29323c);
    box-shadow:0 5px 5px 5px rgba(0,0,0,0.4);
    div{
        cursor: pointer;
        i{
            font-size: 22px;
        }
        a{
            text-decoration: none;
            font-size: 1.4rem;
        }
    }
}